{
	"semi": false,
	"singleQuote": true,
	"useTabs": false,
	"tabWidth": 2,
	"trailingComma": "es5",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"arrowParens": "avoid",
	"printWidth": 100,
	"endOfLine": "lf",
	"quoteProps": "as-needed",
	"proseWrap": "preserve",
	"htmlWhitespaceSensitivity": "css",
	"embeddedLanguageFormatting": "auto"
}
